<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div> #По сути контейнер
    <h1 id="h1-text">H1 Text</h1>
    <h2 class="h2-text">H2 text</h2> #Класс
    <p>ddddddddddddffddddddddddddddd_ddddasfasf_ddddddddwwkkfjmnnvmkamng jjnntrhashf  mmak99 jkfyqwjd i81kfpperhghbvetn
        kfjmnnvmkamng jjnntrhashf  mmak99 jkfyqwjd i81kfpphawdngdf sf</p>
    <a href="https://www.saucedemo.com/" target="_blank">Shop-swag</a> #Гиперссылка на сайт
    <img src="https://cdn.stepik.net/media/users/1041225968/1747162522-xJvkoJU/avatar.png" style="width: 500px">
    <ul> #Ненумированный список
        <li>Item 1</li>
        <li>Item 1888</li>
        <li>Item 125</li>
        <li>Item 14</li>
    </ul>
    <ol> #Нумерованный список
        <li>Item 1</li>
        <li>Item 1888</li>
        <li>Item 125</li>
        <li>Item 14</li>
    </ol>
    <form action="/action" method="POST">  #Форма
        <input type="text" value="12312" placeholder="Text">
        <input required type="email " placeholder="Email">
        <input required type="password"  placeholder="password">
        <textarea placeholder="Text">21321321</textarea>
        <button type="submit" >text_button</button>
    </form>
    <table> #таблица
        <thead>
        <tr>
            <td>Item_1</td>
            <td>Item_1</td>
            <td>Item_1</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row</td>
            <td>Row</td>
            <td>Row</td>
        </tr>
                <tr>
            <td>Row</td>
            <td>Row</td>
            <td>Row</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

